<div class="js-user-edit-url" data-user-edit-url="{{ path("hyperwallet-users-edit-get", {'userToken': 'user_token_replace'}) }}"></div>
<div class="container" id="searchContainer">
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col" style="width: 30%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users.data %}
            <tr>
                <th scope="row">{{ user.clientUserId }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a title="Edit User" class="btn btn-secondary" href="{{ path("hyperwallet-users-edit-get", {'userToken': user.token}) }}"><span class="fas fa-edit" aria-hidden="true"></span></a>
                    <a title="List Transfer Methods" class="btn btn-info user-transfer-methods-button" href="{{ path("hyperwallet-users-transfer-methods-list", {'userToken': user.token}) }}"><span class="fas fa-landmark"></span></a>
                    <a title="Check Balance" class="btn btn-info user-balance-button" href="{{ path("hyperwallet-users-balance", {'userToken': user.token}) }}"><span class="fas fa-balance-scale-left"></span></a>
                    <a title="Add Transfer Method" class="btn btn-primary" href="{{ path("hyperwallet-users-transfer-methods-add", {'userToken': user.token}) }}"><span class="fa fa-plus-square"></span></a>
                    <a title="Verify User" class="btn btn-warning" href="{{ path("hyperwallet-users-verify", {'userToken': user.token}) }}"><span class="fas fa-id-card"></span></a>
                    <a title="Transfer Balance" class="btn btn-danger" href="{{ path("hyperwallet-users-transfer-create", {'userToken': user.token}) }}"><span class="fas fa-piggy-bank"></span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="mt-1" id="transfer-methods-result"></div>
