{% extends 'paypal/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pp-vault') }}
{% endblock %}
{% block content %}
    <div class="col text-center pb-4 paypal-font">
        <h4>{% block payments_base_title %}Let's try and pay something{% endblock payments_base_title %}</h4>
        <p>
            On the left side, create your dream product, then update the payment buttons
        </p>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="mb-1" id="paypal-button-container"></div>
            <div class="mt-5 font-weight-bold">
                {% block payments_base_more_info %}
                    <p>Check the <a target="_blank" href="https://developer.paypal.com/limited-release/vault-payment-methods/vault-sdk#link-vaultwiththejavascriptsdk"> Vaulting with JS SDK</a> documentation</p>
                    <div class="input-group mb-3 w-25">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-light">
                                <a class="mr-1" href="{{ path('settings-index') }}">
                                    <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-gear" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"></path>
                                        <path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"></path>
                                    </svg>
                                </a>
                                UserId
                            </span>
                        </div>
                        <input disabled type="text" aria-label="UserId" class="form-control text-right" name="settings-customer-id" value="{{ app.session.get('settings')['settings-customer-id']}}">
                    </div>
                {% endblock payments_base_more_info %}
            </div>
            <div class="text-left" id="result-col"></div>
            {% block payments_json_editors %}
                <div class="mt-3" id="paypal-buttons-editor" style="height: 200px;"></div>
                <div class="mt-3" id="create-order-editor" style="height: 800px;"></div>
            {% endblock %}
        </div>
    </div>
    <div id="customer-settings" data-settings="{{ app.session.get('settings') | json_encode }}"></div>
    <div id="capture-url" data-capture-url="{{ path("paypal-payments-capture", {'paymentId': 'payment_id_status'}) }}"></div>
{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://www.paypal.com/sdk/js?client-id={{ app.session.get('PAYPAL_SDK_CLIENT_ID') ?? PAYPAL_SDK_CLIENT_ID }}&currency={{app.session.get('settings')['settings-customer-currency']}}&locale={{app.session.get('settings')['settings-customer-locale']}}&components=buttons,funding-eligibility&disable-funding=card&vault=true&commit=true&intent=capture" data-client-token="{{ dataClientToken }}"></script>
    {{ encore_entry_script_tags('pp-vault') }}
{% endblock %}
