{% extends 'base.html.twig' %}
{% block title %}PayPal PlayGround{% endblock %}
{% block navbar %}
    {% embed "navbar/navbar.html.twig" %}
        {% block nav_class %}navbar-light bg-paypal paypal-font{% endblock nav_class %}
        {% block nav_items %}
            <div class="navbar-nav col justify-content-center">
                <a class="nav-link text-light" href="{{ path('paypal-connect-index') }}">Connect</a>
                <a class="nav-link text-light" href="{{ path('paypal-payments-pay-ins') }}">PayIns</a>
                <a class="nav-link text-light" href="{{ path('paypal-payments-pay-outs') }}">PayOuts</a>
                <a class="nav-link text-light" href="{{ path('paypal-payments-invoices') }}">Invoices</a>
                <a class="nav-link text-light" href="{{ path('paypal-payments-subscriptions') }}">Subscriptions</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Others Features
                    </a>
                    <div class="dropdown-menu bg-paypal p-3" aria-labelledby="navbarDropdown">
                        <a class="nav-link text-light" href="#">QR Codes</a>
                        <a class="nav-link text-light" href="{{ path('paypal-payments-ecs') }}">ECS</a>
                        <a class="nav-link text-light" href="{{ path('paypal-payments-bopis') }}">BOPIS</a>
                        <a class="nav-link text-light" href="{{ path('paypal-billing-agreements-index') }}">Billing Agreements</a>
                        <a class="nav-link text-light" href="{{ path('paypal-payments-paylater') }}">PayLater PI4</a>
                        <a class="nav-link text-light" href="{{ path('paypal-adyen-index') }}">Adyen Ex</a>
                        <a class="nav-link text-light" href="{{ path('paypal-vault-payment') }}">Vault</a>
                        <a class="nav-link text-light" href="{{ path('paypal-payments-msp') }}">MSP</a>
                        <a class="nav-link text-light" href="{{ path('paypal-payments-ppcp') }}">PPCP</a>
                    </div>
                </li>
                {% include "paypal/modals/sandbox-credentials.html.twig" %}
            </div>
        {% endblock nav_items %}
    {% endembed %}
{% endblock navbar %}
{% block body %}
    <div class="container mt-4">
        {% block content %}{% endblock content %}
    </div>
{% endblock body %}
