{% extends 'paypal/base.html.twig' %}
{% block content %}
    <div class="paypal-font">
        <section class="jumbotron">
            <div class="container container-fluid">
                <div class="row justify-content-center">
                    <button class="btn d-inline align-middle">
                        <img alt="Logo PayPal" class="logo-paypal"
                             src="{{ asset('build/images/paypal_logo.svg') }}"/>
                    </button>
                    <div class="jumbotron-heading d-inline align-middle">
                        <h1 class="ml-3 align-middle">Let's Play</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-index') }}">FastLane</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Try out Log in with PayPal, Users can create an account for your website using their PayPal credentials or link their account to their PayPal account.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-index') }}">PackageTracking</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Try out Log in with PayPal, Users can create an account for your website using their PayPal credentials or link their account to their PayPal account.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-pay-ins') }}">Wallet Payments</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Build an online and mobile payments solution using the PayPal JavaScript SDK and REST APIs.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-pay-outs') }}">Wallet Payouts</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Send money immediately to multiple recipients with their emails, phone numbers, or PayPal IDs.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-invoices') }}">Invoices</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">In addition to sending and receiving invoices, the Invoicing API supports requests such as refunds, reminders, QR codes, and templates.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-subscriptions') }}">Subscriptions</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Create subscriptions to bill customers at regular intervals. You can customize a subscriptions integration. Fixed plans, discount trials, payment recovery, tier based, etc...</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-ecs') }}">Express Checkout Shortcut</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Express Checkout Shortcut, improve conversion with faster checkout</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-billing-agreements-index') }}">Billing
                    Agreements</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Deprecated: Use the PayPal Reference Transactions API to create and manage billing agreement tokens and billing agreements. You can use a reference transaction to make a payment.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-bopis') }}">BOPIS</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Maybe you want to BOPIS (Buy online pick up in store)</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-vault-payment') }}">Vault</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Save payment methods so payers don't have to enter details for future transactions. Payers can check out faster or pay without being present after they agree to save a payment method.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-msp') }}">MultiSeller Purchase</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Multi Seller Purchase, How about it?</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-ppcp') }}">ACDC</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Set up advanced Checkout payments to present custom credit and debit card fields to your payers so they can pay with credit and debit cards using your site's branding.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-paylater') }}">PayLater Offers</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Add Pay Later messaging to your checkout integration. Specific Pay Later offers differ by country. Click on your country for details.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-adyen-index') }}">Adyen Example</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Set up PayPal via Adyen. Either using DropIn or Components</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-connect-index') }}">Identity API</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Try out Log in with PayPal, Users can create an account for your website using their PayPal credentials or link their account to their PayPal account.</p>
            </div>
        </div>
    </div>
{% endblock %}
