{% extends 'paypal/base.html.twig' %}
{% block content %}
    <div class="paypal-font">
        <section class="jumbotron">
            <div class="container container-fluid">
                <div class="row justify-content-center">
                    <button class="btn d-inline align-middle">
                        <img alt="Logo PayPal" class="logo-paypal" src="https://upload.wikimedia.org/wikipedia/commons/3/39/PayPal_logo.svg" />
                    </button>
                    <div class="jumbotron-heading d-inline align-middle">
                        <h1 class="ml-3 align-middle">Let's Play</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col">
                <ul class="list">
                    <li>Receive payments with PayPal</li>
                    <li>Connect with PayPal and verify your account</li>
                    <li>Send payments with Paypal</li>
                    <li>Invoices, Subscriptions, BOPIS</li>
                    <li>QRC new features</li>
                    <li>Check for <strong class="red-text">MORE OPTIONS</strong> under the top bar menu.</li>
                </ul>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-connect-index') }}">Connect</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">Try out PayPal Connect, get user info, authenticate email</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-pay-ins') }}">PayIns</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">Try out PayIns with PayPal Smart Buttons + APMs</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-pay-outs') }}">PayOuts</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">Want to send money, use paypal payouts APIs</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-invoices') }}">Invoices</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">You can use the pay by link with invoices, and QR them</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-subscriptions') }}">Subscriptions</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">Subscribe with PayPal to any monthly or weekly or whatever</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="#">QR Codes</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">MoonShot!! Awesome, QRC payments</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-ecs') }}">ECS</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">Express Checkout Shortcut, improve conversion with less pain for customers</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-billing-agreements-index') }}">Billing Agreements</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">Billing Agreements, create, payments, and cancel example</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-payments-bopis') }}">BOPIS</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">Maybe you want to Buy online pick up in store?</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <a class="btn bg-paypal text-light btn-block" href="{{ path('paypal-vault-payment') }}">Vault</a>
            </div>
            <div class="col justify-content-start">
                <h6 class="ml-5 d-inline">Dont forget to vault your PayPal account for returning customers</h6>
            </div>
        </div>
    </div>
{% endblock %}
