{% extends 'base.html.twig' %}
{% block title %}BrainTree PlayGround{% endblock %}
{% block navbar %}
    {% embed "navbar/navbar.html.twig" %}
        {% block nav_class %}navbar-dark bg-braintree braintree-font{% endblock nav_class %}
        {% block nav_items %}
            <div class="navbar-nav col justify-content-center">
                <a class="nav-link text-light" href="{{ path('braintree-payments-dropui') }}">DropUi</a>
                <a class="nav-link text-light" href="{{ path('braintree-payments-hosted-fields') }}">HostedFields</a>
                <a class="nav-link text-light" href="{{ path('braintree-payments-apm') }}">APM</a>
                <a class="nav-link text-light" href="{{ path('braintree-payments-three-ds') }}">3DSecure</a>
                <a class="nav-link text-light" href="{{ path('braintree-payments-vault') }}">Vault</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Others Features
                    </a>
                    <div class="dropdown-menu bg-braintree p-3" aria-labelledby="navbarDropdown">
                        <a class="nav-link text-light" href="{{ path('braintree-payments-request') }}">RequestAPI</a>
                        <a class="nav-link text-light" href="{{ path('braintree-api-index') }}">API Examples</a>
                        <a class="nav-link text-light" href="{{ path('braintree-payments-paylater') }}">PayPal Paylater</a>
                    </div>
                </li>
            </div>
        {% endblock nav_items %}
    {% endembed %}
{% endblock navbar %}
{% block body %}
    <div class="container mt-4">
        {% block content %}{% endblock content %}
    </div>
{% endblock body %}
