{% extends 'braintree/base.html.twig' %}
{% block content %}
    <div class="braintree-font">
        <section class="jumbotron">
            <div class="container container-fluid">
                <div class="row justify-content-center">
                    <button class="btn d-inline align-middle">
                        <img class="inverted logo-braintree" src="{{ asset('build/images/braintree_logo.png') }}"/>
                    </button>
                    <div class="jumbotron-heading d-inline align-middle">
                        <h1 class="ml-3 align-middle">Let's Play</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn btn-dark bg-braintree btn-block" href="{{ path('braintree-payments-dropui') }}">Easy DropUI</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Our Drop-in UI is a complete, ready-made payment UI that offers a quick and easy way to securely accept payments. The UI includes a card entry form and, if enabled, PayPal, Venmo, Apple Pay, and Google Pay buttons. When a user successfully completes the UI, your client code obtains a payment method nonce for use on your server.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn btn-dark bg-braintree btn-block" href="{{ path('braintree-payments-hosted-fields') }}">Hosted Fields</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Our Hosted Fields solution accomplishes this by rendering an iframe to handle input of the following payment fields on your checkout page</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn btn-dark bg-braintree btn-block" href="{{ path('braintree-payments-apm') }}">Alternative
                    PM</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Local Payment Methods allow customers to pay with banks, wallets, or other means that operate only in specific regions of the world. Many popular payment methods.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn btn-dark bg-braintree btn-block"
                   href="{{ path('braintree-payments-three-ds') }}">3DSecure</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Balance security and ease of use for your customers. Coupled with strict regulatory requirements, 3D Secure (3DS) can help to prevent fraud and meet Strong Customer Authentication (SCA) requirements.</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn btn-dark bg-braintree btn-block" href="{{ path('braintree-payments-vault') }}">Vault</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">A payment method represents transactable payment information such as credit card details or a customer's authorization to charge a PayPal or Venmo account. </p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn btn-dark bg-braintree btn-block" href="{{ path('braintree-payments-request') }}">RequestAPI</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Try the payment request API</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn btn-dark bg-braintree btn-block" href="{{ path('braintree-api-index') }}">API Examples</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Check the Vault API Responses and others</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn btn-dark bg-braintree btn-block" href="{{ path('braintree-payments-paylater') }}">PayPal
                    PayLater</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">Checkout how PayPal PayLater will work on your BT Integration</p>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-4">
                <a class="btn btn-dark bg-braintree btn-block" href="{{ path('braintree-payments-forward') }}">Forward
                    API</a>
            </div>
            <div class="col-lg-8">
                <p class="pl-3">The Braintree Forward API allows developers to forward raw payment data from the Vault to third parties. These third parties—or destinations—do not need to be Braintree merchants; they can be any PCI compliant entity that requires raw payment data.</p>
            </div>
        </div>
    </div>
{% endblock %}
