{% extends 'base.html.twig' %}
{% block body %}
    <section class="jumbotron text-center">
        <h1 class="jumbotron-heading">PayPal - Solutions Playground</h1>
        <p class="lead text-muted">Choose your platform</p>
    </section>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <section class="jumbotron bg-paypal paypal-font w-100">
                    <p class="nav-link text-white text-center">
                        PayPal offers a variety of services, from Wallet to Card processing and FASTLANE
                    </p>
                    <a class="btn-secondary btn nav-link bg-nearly-white p-md-2" href="{{ path('paypal-index') }}">
                        <img class="logo-paypal" src="{{ asset('build/images/paypal_logo.svg') }}" />
                    </a>
                </section>
            </div>
            <div class="row">
                <section class="jumbotron bg-dark braintree-font w-100">
                    <p class="nav-link text-white text-center">
                        Explore our robust payment solutions for large enterprises.
                    </p>
                    <a class="btn-secondary btn nav-link bg-nearly-white p-md-2" href="{{ path('braintree-index') }}">
                        <img class="logo-braintree" src="{{ asset('build/images/braintree_logo.png') }}" />
                    </a>
                </section>
            </div>
            <div class="row">
                <section class="jumbotron bg-hyperwallet-dark hyperwallet-font w-100">
                    <p class="nav-link text-white text-center">
                        Explore the world of payouts. Disburse funds all across the world.
                    </p>
                    <a class="btn-secondary btn nav-link bg-nearly-white p-md-2" href="{{ path('hyperwallet-index') }}">
                        <img class="logo-hyperwallet" src="{{ asset('build/images/hyperwallet_logo.svg') }}" />
                    </a>
                </section>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock body %}