{% extends 'paypal/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('connect') }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="alert alert-secondary text-center paypal-font">
            <span class="badge badge-pill badge-success">{{ random(['Yeah!', 'C\'mon!', 'Booom!', 'Awesome!', 'Massive!','Bombastic!']) }}</span>
            <h6 class="d-inline"><strong>Connect With PayPal</strong> authentication example</h6>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 d-inline">1. Connect With PayPal Button</h5>
                    <button class="btn btn-success d-inline float-right" disabled data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="step-1-submit">Next Step</button>
                </div>
                <div id="collapseOne" class="collapse {% block element_one_class %}show{% endblock %}" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row mt-1">
                            <div class="col text-center">
                                <span id='paypal-button'></span>
                                <div class="mt-3" id="paypal-button-editor" style="height: 400px;"></div>
                            </div>
                            <div class="col">
                                <div class="container-fluid mt-5">
                                    <p class="font-weight-bold">Remember, this is sandbox environemnt</p>
                                    <p>
                                        <span>You can create sandbox accounts in PayPal Developer Site</span><br>
                                        <span>for testing purposes.</span>
                                        <a target="_blank" href="https://developer.paypal.com/docs/connect-with-paypal/reference/button-js-builder/">Check here for more info</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3" id="step-one-result-row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0 d-inline">2. Get the Refresh Token</h5>
                    <button class="btn btn-success d-inline float-right" disabled data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="step-2-submit">Next Step</button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">PayPal Code</span>
                            </div>
                            <input type="text" class="form-control text-right" id="paypal-connect-code" value="">
                        </div>
                        <button type="button" class="btn btn-success"  id="submit-button-two">Get Token</button>
                        <div class="row justify-content-center">
                            <div class="col mt-3" id="step-two-result-row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0 d-inline">3. Capture Payment</h5>
                        <button class="btn btn-success d-inline float-right" disabled data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="step-3-submit">Go to my Account</button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">RefreshToken</span>
                                </div>
                                <input type="text" class="form-control text-right" id="refresh-token" value="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                <input type="text" class="form-control text-right" id="email" value="">
                            </div>
                            <button type="button" class="btn btn-success"  id="submit-button-three">Get user info and login</button>
                            <div class="row justify-content-center">
                                <div class="col mt-3" id="step-three-result-row"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="customer-settings" data-settings="{{ app.session.get('settings') | json_encode }}"></div>
    <div id="return-url" data-return-url="{{ absolute_url(path("paypal-connect-index")) }}"></div>
    <div id="auth-token-url" data-auth-token-url="{{ path("paypal-connect-auth-token") }}"></div>
    <div id="login-url" data-login-url="{{ path("paypal-connect-login") }}"></div>
    <div id="paypal-client-id" data-paypal-client-id="{{ app.session.get('PAYPAL_SDK_CLIENT_ID') ?? PAYPAL_SDK_CLIENT_ID }}"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://www.paypalobjects.com/js/external/connect/api.js" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('connect') }}
{% endblock %}