{% extends 'paypal/base.html.twig' %}
{% block content %}
    <div class="col text-center pb-4 paypal-font">
        <h4>Let's try and subscribe</h4>
        <p>
            Simple subscription button. Just subscribe to our weekly product for 12.99 with 1 free month.
        </p>
        <p>
            <strong>Due to the lack of data storage, I'm not storing the subscription id.</strong>
        </p>
        <p>
            To manage your subscription please visit: <a href="https://www.sandbox.paypal.com/myaccount/autopay" target="_blank"> My Subscriptions</a>
        </p>
    </div>
    <div class="row">
        <div class="col text-center">
            <div id="paypal-button-container"></div>
            <div id="result-col"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://www.paypal.com/sdk/js?client-id={{ app.session.get('PAYPAL_SDK_CLIENT_ID') ?? PAYPAL_SDK_CLIENT_ID }}&currency={{app.session.get('settings')['settings-customer-currency']}}&buyer-country={{app.session.get('settings')['settings-customer-country']}}&locale={{app.session.get('settings')['settings-customer-locale']}}&vault=true&intent=subscription{{ app.session.get('PAYPAL_SDK_EXTRA') }}"></script>
{{ encore_entry_script_tags('subscriptions') }}
{% endblock %}
