{% extends 'braintree/payments/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bt-vault') }}
{% endblock %}
{% block step_zero %}
<div class="js-get-customer-url" data-get-customer-url="{{ path('braintree-customers-list') }}"></div>
<div class="js-get-customer-token-url" data-get-customer-token-url="{{ path('braintree-customers-get-cutomer-token', {'customerId': 'customer_id_replace'}) }}"></div>
<div class="js-get-forward-url" data-get-forward-url="{{ path('braintree-forward-api-direct-tokenization') }}"></div>
<div class="js-create-customer-url" data-create-customer-url="{{ path('braintree-customers-create') }}"></div>
<div class="card">
    <div class="card-header" id="headingZero">
        <h5 class="mb-0 d-inline">0. Customer Database</h5>
        <button class="btn btn-success d-inline float-right" disabled data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero" id="step-0-submit">Next Step</button>
    </div>
    <div id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#accordion">
        <div class="card-body">
            <div class="row ml-1">
                <p class="d-inline">
                    <span class="badge badge-pill badge-info">BrainTree</span>
                    Gives you the option to create or select
                    <span class="badge badge-pill badge-secondary">Customers</span>
                    from the
                    <span class="badge badge-pill badge-warning">Vault</span>.
                    <span class="text-secondary">And many other options.</span>
                </p>
            </div>
            <div class="row text-center mt-1">
                <div class="col">
                    <button class="btn btn-success d-inline float-right" id="create-customer">Create Customer</button>
                </div>
                <div class="col"><h5>OR</h5></div>
                <div class="col">
                    <button class="btn btn-success d-inline float-left" id="search-customer">Search Customers</button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-6 mt-3 invisible" id="create-customer-form">
                    <div class="col">
                        <div id="customer-json-editor" style="height: 300px;"></div>
                        <button class="btn btn-primary mt-2 btn-block" id="create-customer-post">Go Go Go</button>
                    </div>
                </div>
                <div class="col-lg-6 mt-3" id="search-customer-form">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block element_one_class %}{% endblock %}
{% block card_template %}
    <div id="dropin-container"></div>
    <button class="btn btn-success mt-2" id="submit-button-one">Get Payment Nonce</button>
{% endblock %}
{% block step_one_title %}1. Select Vaulted Payment Method{% endblock %}
{% block step2_payment %}
    <div class="card">
    <div class="card-header" id="headingTwo">
        <h5 class="mb-0 d-inline">2. Get Forward Details</h5>
        <div class="d-none"><button class="btn btn-success d-inline float-right" disabled data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="step-2-submit">Next Step</button></div>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Payment Nonce</span>
                </div>
                <input type="text" aria-label="Name" class="form-control text-right" id="payment-nonce" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">CorrelationId</span>
                </div>
                <input type="text" aria-label="Name" class="form-control text-right" id="device-info" value="">
            </div>
            <div class="input-group mb-3 d-none">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="amount-text">Amount</span>
                </div>
                <input type="number" aria-label="Price" class="form-control text-right" id="amount" value="{{ app.session.get('settings')['settings-item-price']}}">
                <div class="input-group-append">
                    <span class="input-group-text">.00 €</span>
                </div>
            </div>
            <input type="hidden" id="deviceInformation" value="">
            <button type="button" class="btn btn-success"  id="submit-button-forward">Call Forward API</button>
            <button class="btn btn-info" id="step-3-submit">Start Again</button>
            <div class="d-none">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#serverOptionsModal">Server Options</button>
                <button type="button" class="btn btn-success"  id="submit-button-two">NO</button>
            </div>
            <div class="row justify-content-center">
                <div class="col mt-3" id="step-two-result-row">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block step3_capture %}
    <div class="card d-none">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0 d-inline">3. Start Again</h5>
            <button class="btn btn-success d-inline float-right" disabled data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="step-3-submit">Start Again</button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <button type="button" class="btn btn-success"  id="submit-button-three">Capture Sale</button>
                <button type="button" class="btn btn-info"  id="submit-button-three-status">Refresh Status</button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('forward') }}
{% endblock %}