{% extends 'braintree/payments/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('braintree-paylater') }}
{% endblock %}
{% block step1_content %}
    <div class="w-100 text-center">
        <div class="w-100 text-center" id="apm-creation-destroyable">
            <div id="paypal-order-json-editor" style="height: 300px;"></div>
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="amount-text">Amount</span>
                </div>
                <input type="number" aria-label="Price" class="form-control text-right" id="apm-amount" value="123.45">
                <div class="input-group-append">
                    <span class="input-group-text">.00 €</span>
                </div>
                <button type="button" class="ml-1 btn btn-success"  id="submit-button-one">Load APM Buttons</button>
            </div>
        </div>
        <div id="apm-buttons-destroyable">
            <div id="apm-container"></div>
        </div>
        <div class="w-100 text-center">
            <div class="w-100 text-center"
                 style="margin-left: 20% !important"
                 data-pp-message
                 data-pp-layout="text"
                 data-pp-buyer-country="FR"
                 data-pp-amount="123.45">
            </div>
            <br>
            <div class="w-100 text-center"
                 style="text-align: -webkit-center !important"
                 data-pp-message
                 data-pp-placement="home"
                 data-pp-amount="123.45"
                 data-pp-style-layout="flex"
                 data-pp-buyer-country="FR"
                 data-pp-style-ratio="8x1">
            </div>
        </div>
    </div>
    <div id="customer-settings" data-settings="{{ app.session.get('settings') | json_encode }}"></div>
    <div class="js-paypal-client-id" data-paypal-client-id="{{ PAYPAL_SDK_CLIENT_ID }}"></div>
{%  endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('braintree-paylater') }}
{% endblock %}