<button class="btn btn-dark" data-toggle="modal" data-target="#credentialsModal">Credentials</button>
<div class="modal fade" id="credentialsModal" tabindex="-1" role="dialog" aria-labelledby="credentialsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ path('paypal-session-sandbox-credentials-create') }}" method="post">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 font-weight-bold">Update SandBox Credentials</h5>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input name="client_id" id="client_id" type="text" class="form-control" placeholder="Client Id" aria-label="Client Id" aria-describedby="basic-addon1" value="{{ app.session.get('PAYPAL_SDK_CLIENT_ID') }}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">#</span>
                    </div>
                    <input name="client_secret" id="client_secret" type="text" class="form-control" placeholder="Client Secret" aria-label="Client Secret" aria-describedby="basic-addon1" value="{{ app.session.get('PAYPAL_SDK_CLIENT_SECRET') }}">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Update Now</button>
                <button type="button" class="btn btn-secondary" onclick="location.href = '{{ path('paypal-session-sandbox-credentials-delete') }}';">Clear</button>
            </div>
            </form>
            <div class="modal-body text-center">
                <h6><strong>This credentials are saved for 8 hours</strong></h6>
                <h6>Add the Return URL to SandBox App Settings</h6>
                <h6 class="font-weight-light">{{ absolute_url(path('paypal-connect-index')) }}</h6>
            </div>
        </div>
    </div>
</div>
